version: '3.4'
services:
  app:
    image: ${CI_REGISTRY}/${CI_REPOSITORY}/sfx:${BUILD_TAG}
    environment:
      - VIRTUAL_INNER_PROTO=http
      - VIRTUAL_PORT=3000
      - VIRTUAL_PROTO=https
      - VIRTUAL_HOST=${APP_DOMAINS}
    restart: ${RESTART_POLICY:-unless-stopped}
    networks:
      - mxcloud_http

networks:
  mxcloud_http:
    external: true
